/*.axis{*/
/*    fill:none;*/
/*    stroke-width:0.5px;*/
/*    stroke: white;*/
/*}*/
.axis .tick text {
    color: black;
}
.axis-y .tick line {
    stroke-width: 1px;
	stroke: #fff;
}
.axis-y .domain{
	stroke: #fff;
}
